<span style="display: flex; flex-direction: row; width: auto; margin-left: 20px;">
    <span style="display: flex; flex-direction: column;">
        <img src="/assets/images/crown.png" alt="video thumbnail">
        <span style="display: flex; flex-direction: row; padding-top: 15px; border-radius: 20px;">
            <div class="user"></div>
            <div style="display: flex; flex-direction: column;">
                <span style="width: 280px; font-size: 18px; font-weight: 550;">1998 Toyota Crown (S150) 2.5 Royal Touring - POV TEST..</span>
                <span style="margin-top: 10px; color: #828282   ;">FP Driving</span>
                <span style="margin-top: 10px; color: #828282   ;">484K views . 2 months ago</span>
            </div>
        </span>
    </span>    
</span>