.card {
    padding-top: 10px;
    background-color: #EDEDED;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 18px ;
    border-width: 1px;
    border-color: #D5D5D6;
    border-style: solid;
}

.active {
    color: white;
    background-color: #030303;
    border-style: none;
}